@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Koh+Santepheap&display=swap');

:root {
  --primary-color: #75A33A;
  --secondary-color: #F4E2DF;
  --accent1-color: #ACC7F5;
  --accent2-color: #B9B6BA;
  --heading-font: "Koh Santepheap";
  --paragraph-font: "Barlow";
  --headline-color-on-white: var(--primary-color); /*on white background*/
  --headline-color-on-color: var(--secondary-color);/*colored background */
  --paragraph-color-on-white: var(--primary-color); /*white background*/
  --paragraph-color-on-color: var(--secondary-color); /*color background*/
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}
header{
  font-family: var(--heading-font);
  background-color: var(--primary-color);
  color: var(--accent1-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  max-width: 100%;
  padding: 1em;
}
header img{
  max-width: 100%;
  width: 100px;
  height: auto;
  padding: 2em;
}
#menuItems{
    list-style-type: none;
    max-width: 100%;
}
#menuItems li{
  border: 1.5px solid var(--secondary-color);
  margin: 0.5em;
  padding: 0.25em;
  color: var(--accent1-color);
  font-size: 0.75em;
  align-self: flex-end;
}
a:link,
a:visited {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    text-decoration: none;
}
body{
  background-color: var(--secondary-color);
}
#posts-container{
  max-width: 100%;
}
.post-card{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 5px;
  padding: 2em;
}
.card-content h2{
  color: var(--primary-color);
}
.filter{
  align-content: end;
}
.skiptocontent a {
    position: absolute;
    left: -9999px;
    background-color: red;
    color: white;
}
.skiptocontent a:focus {
    left: 10px;
    top: 10px;
    width: auto;
    overflow: visible;
    padding: 0.5em;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 1em;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  background-color: #b9b6ba93;
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.summer{
  font-family: var(--paragraph-font);
  max-width: 100%;
  margin-bottom: 2em;
  margin: 1em;
  padding: 0.5em;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}


@media screen and (min-width: 700px) {
  .post-card {
    flex-direction: row;
    align-items: stretch;
    height: 200px;
    margin-bottom: 3em;
  }
  .post-card img {
    width: 250px;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  .card-content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}