@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Koh+Santepheap&display=swap');

:root {
  --primary-color: #49711E;
  --secondary-color: #F4E2DF;
  --accent1-color: #E2ECFD;
  --accent2-color: #B9B6BA;
  --heading-font: "Koh Santepheap";
  --paragraph-font: "Barlow";
  --headline-color-on-white: var(--primary-color); /*on white background*/
  --headline-color-on-color: var(--secondary-color);/*colored background */
  --paragraph-color-on-white: var(--primary-color); /*white background*/
  --paragraph-color-on-color: var(--secondary-color); /*color background*/
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}
header{
  font-family: var(--heading-font);
  background-color: var(--primary-color);
  color: var(--accent1-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  max-width: 100%;
  padding: 1em;
}
header img{
  max-width: 100%;
  width: 100px;
  height: auto;
  padding: 2em;
}
#menuItems{
    list-style-type: none;
    max-width: 100%;
}
#menuItems li{
  border: 1.5px solid var(--secondary-color);
  margin: 0.5em;
  padding: 0.25em;
  color: var(--accent1-color);
  font-size: 0.75em;
  align-self: flex-end;
}
a:link,
a:visited {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    text-decoration: none;
}
body{
  background-color: var(--secondary-color);
}
#posts-container{
  max-width: 100%;
}
.post-card{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 5px;
  padding: 2em;
}
.card-content h2{
  color: var(--primary-color);
}
.filter{
  align-content: end;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 250px; /* default = mobile size */
  position: relative;
  margin: 2em auto;
  overflow: hidden;
}

/* Each slide */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

/* Slideshow images */
.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 3px;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
}
.next { right: 10px; }
.prev { left: 10px; }

/* Caption text */
.text {
  background-color: rgba(185,182,186,0.7);
  color: #000;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  text-align: center;
  border-radius: 5px;
}
/* Dots */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
.summer{
  font-family: var(--paragraph-font);
  max-width: 100%;
  margin-bottom: 2em;
  margin: 1em;
  padding: 0.5em;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}


@media screen and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-evenly;
    padding: 0.25em;
    margin-bottom: 2em;
    }
    header h1{
      font-size: 3em;
    }
    .post-card {
      flex-direction: row;
      align-items: stretch;
      height: 200px;
      margin-bottom: 3em;
    }
    .post-card img {
      width: 250px;
      height: 100%;
      object-fit: cover;
      object-position: 50% 85%;
      flex-shrink: 0;
    }
    .card-content {
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .slideshow-container {
      height: 400px; 
      max-width: 1000px;
    }
    .text {
      font-size: 16px;
    }
  }